html,
body {
    font-family: 'AdobeInvisFont', 'sans-bold', sans-serif;
    overflow-x: hidden;
}

.container-w {
    margin: 0 auto;
    max-width: 1170px;
}

/* ---------------- header ----------------  */
.dark-bg {
    background-color: rgba(29, 33, 36);
    height: 60px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.the-darkest-logo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 59px;
    width: 59px;
}

.box-1 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-2 {
    display: flex;
    justify-content: center;
    flex: none;
}

.logo {
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    margin: 0 0 0 10px;
}

.logo::before {
    content: '';
    background-image: url('../images/logo-img@1X.png');
    right: 121px;
    bottom: 0.5px;
    height: 26px;
    width: 27px;
    position: absolute;
}

.nav-item-ul {
    display: flex;
}

.box-2 li {
    align-items: center;
    flex-direction: row;
    color: white;
    margin: 0 12px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding: 22.5px 0;
}

.box-2 li:hover {
    border-bottom: 1px solid white;
}

.icon {
    font-size: 20px;
    color: white;
    margin: 20px;
}

.box-3 {
    cursor: pointer;
}

/* ----------------------------------- the latest news ----------------------------------- */

.the-latest-news {
    background: url('../images/header-bg.jpeg');
    background-attachment: fixed;
    height: 325px;
    background-size: cover;
    /*картинка не дублируется */
    background-position: 50% 90%;
    background-repeat: no-repeat;
    /*что б было видно середину картинки */
    text-align: center;
}

.dark-bg-the-latest-news {
    background: rgba(0, 0, 0, 0.4);
    height: 325px;
}

.the-latest-news button {
    height: 55px;
    width: 170px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
    text-align: center;
}

.Subscribe {
    background: #89ca62;
    margin-right: 7px;
}

.best-art {
    background: #14b9d5;
}

.the-latest-news h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    padding: 90px 0 50px;
}

/* ------------------------ Most popular posts ------------------------ */

.most-popular-posts {
    background: #f2f2f2;
}

.mpp-h2 {
    color: #18b4cf;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 40px 0 20px;
}

.mpp-container {
    display: flex;
    flex-flow: column wrap;
    height: 800px;
}

.mpp-container div {
    padding: 10px;
}

.note {
    background: white;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
}

.box-Vanglo {
    order: 1;
}

.box-Sunrise-Hotel {
    order: 3;
}

.box-Resort-Spa {
    order: 5;
}

.box-Royal-Hotel {
    order: 2;
}

.box-Sunset-Hotel {
    order: 4;
}

.box-Hotel-France {
    order: 6;
}

/* -------------------- our most popular clients -------------------- */

.most-popular-clients {
    background: url('../images/parallax-bg.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 458px;
    width: 100%;
    background-size: cover;
    background-position: 50% 11%;
}

.container-mpc {
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(14, 7%);
    height: 458px;
}

.popular-cl-h2 {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    position: relative;
    grid-row: 6;
    grid-column: 18 /span 23;
}

.horizontal-line {
    height: 3px;
    width: 60px;
    background: #169cb4;
    grid-row: 8;
    grid-column: 25 /span 3;
}

.img-national {
    grid-row: 9;
    grid-column: 9 /span 3;
}

.img-dryme {
    grid-row: 9;
    grid-column: 20 /span 3;
}

.img-houseandhome {
    grid-row: 9;
    grid-column: 28 /span 3;
}

.img-journey {
    grid-row: 9;
    grid-column: 37 /span 3;
}

/* ------------------------------- top rated ------------------------------- */

.top-rated {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    
}

.top-rated-h2 {
    text-transform: uppercase;
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

/* -------------------------------- hot news -------------------------------- */

.testtest {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-bottom: 70px;
}

.grid-1 {
    grid-area: 1/ 1/ 2/ 4;
}

.grid-2 {
    grid-area: 1/ 4/ 2/ 5;
}

.grid-3 {
    grid-area: 2/ 1/ 3/ 3;

}

.grid-4 {
    grid-column: 3 /span 2;
}

.grid-5 {
    grid-area: 3/ 1/ 4/ 3;
}

.grid-6 {
    grid-area: 3/ 3/ 4/ 5;
}

.grid-7 {
    grid-area: 4/ 1/ 5/ 2;
}

.grid-8 {
    grid-area: 4/ 2/ 5/ 5;
}

.hot-news h4 {
    font-weight: 600;
    font-size: 18px;
    padding: 20px;
}

.hot-news p {
    font-size: 15px;
    padding: 0 20px 20px;
    line-height: 1.5;
}

.bg-white {
    background: white;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Grand-Meadows {
    background: #f9f7f7;
    display: flex;
    text-align: right;
    flex-direction: column;
    height: 100%;
}

.Prophecy-Hotel {
    background: #f9f7f7;
    display: flex;
    text-align: right;
    height: 100%;
}

.Nebula-Hotel {
    background: #f9f7f7;
    text-align: center;
    height: 100%;
}

/* --------------------------------- footer --------------------------------- */

.footer-container {
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(14, 7%);
}

.footer-p {
    color: white;
    font-size: 13px;
    grid-column: 1 /span 30;
    grid-row: 10;
}

.img-liot {
    grid-column: 48 /span 8;
    grid-row: 9;
}

.img-liot-before {
    grid-column: 46 /span 8;
    grid-row: 9;
}

/* the end :) */