/* Animation properties */

.star {
    animation: star 30s ease-out infinite;
}

.wars {
    animation: wars 30s ease-out infinite;
}

.byline span {
    animation: spin-letters 30s linear infinite;
}

.byline {
    animation: move-byline 30s infinite;
}

/* Keyframes */
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }

    7% {
        opacity: 1;
    }

    30% {
        opacity: 1;
        transform: scale(1);
    }

    33% {
        opacity: 0;
        transform: translateZ(-1000em);
    }

    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }

    7% {
        opacity: 1;
    }

    30% {
        opacity: 1;
        transform: scale(1);
    }

    33% {
        opacity: 0;
        transform: translateZ(-1000em);
    }

    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes spin-letters {

    0%,
    3% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    14% {
        opacity: 1;
    }

    31.5% {
        transform: rotateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes move-byline {
    0% {
        opacity: 1;
        transform: translateZ(5em);
    }

    29.5% {
        opacity: 1;
    }
    30.5% {
        opacity: 0;
    }

    32% {
        transform: translateZ(0);
    }

    100% {
        opacity: 0;
    }
}

/* Make the 3D work on the container */
.starwars-demo {
    perspective: 800px;
    transform-style: preserve-3d;
}

/* General styles and layout */
body {
    background: #000 url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}

.padding-span {
    padding-right: 40px;
}

img {
    width: 100%;
}

.star,
.wars,
.byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", "Lato";
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 41%;
    display: inline-flex;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
    .starwars-demo {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .starwars-demo {
        font-size: 7px;
    }
}


/* моя часть */

.container {
    width: 300px;
    text-align: center;
    transform: perspective(550px) rotateX(60deg) translateZ(80px);
    color: #fdf253;
}

.block-1 {
    text-align: left;
    margin-bottom: 20px;
}

.block-2 {
    text-align: justify;
}

.slideUp {
    animation: slideUp 30s linear infinite;
}

@keyframes slideUp {
    0% {
        transform: translateY(160%);

    }

    100% {
        transform: translateY(40%);
    }
}

h1 {
    text-transform: uppercase;
    margin: 20px;

}

h2 {
    text-transform: uppercase;
    margin: 0 0 20px;
}

.main-block {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 2;
    height: -webkit-fill-available;
    overflow: hidden;
}

.audio{
    visibility: hidden;
    opacity: 0;
    display: none;
}