body {
    font-family: 'Courgette', Courier, "MyriadPro-Regular";
}

.container {
    max-width: 1280px;
}

h1 {
    margin-left: 100px;
    font-size: 80px;
    margin-bottom: 30px;
}
h1 a {
    color: black;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #485863;
}

h1 span {
    color: #4bcaff;
}

header {
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    margin-left: 100px;
}

header a {
    color: white;
}
.btn {
    height: 69px;
    font-family: 'Courgette', cursive;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    background-color: #35444f;
    border-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.btn:first-child {
    margin-left: 160px;
}

.btn:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
    
}


li {
    list-style-type: none;
    font-size: 20pt;
}

.img-horse {
    display: inline-block;
    height: 529px;
    width: 885px;
    display: table-cell;
    position: relative;
    bottom: 460px;
    left: 300px;

}

.img-white {
    height: 529px;
    width: 500px;
    border: 1px solid black;
    display: inline-block;
    margin: 43px 0px 15px 43px;
    position: absolute;
}

p {
    font-size: 16px;
    position: relative;
    width: 805px;
    left: 540px;
    top: 160px;
}

.navbar-nav {
    margin-left: 100px;
    margin-top: 43px;
    width: 344px;
    border: 1px solid black;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

.nav-item {
    padding: 20px;
}

.nav-item:hover a {
    color: black;
}

.nav-item:hover{
    background-color: #dbdbdb;
    padding-left: 50px;
    color: black;
}

.nav-link:hover {
    text-align: center;
    color: black;
    
}
.navbar-nav-footer {
    background-color: #b4b7ba;
    margin-left: 100px;
    width: 1245px;
    height: 69px;
    position: relative;
    top: 190px;

}
.nav-item-f {
    display: inline;
    padding: 5px;
    position: relative;
    top: 10px;
    border: 1px solid #b4b7ba;

}
.nav-link-f {
    color: black;
    font-size: 28px;
    border: 1px solid #b4b7ba;
    padding-bottom: 5px;

}

.nav-link-f:hover {
    color: #3181a6;
    border-bottom-color: #3181a6;
}



.copyright {
    position: relative;
    top: 120px;
    left: 1170px;
    color: black;
    font-size: 24px;

}