html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, courier;
}

.container {
    background: url(../images/background.png);
    width: 1366px;

}

header {
    padding: 39px 155px 20px 155px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f26522;
}

h1 {
    text-transform: uppercase;
    float: left;
    font-size: 18px;
    color: white;
    margin-left: 15px;
}

h1::first-line {
    font-size: 29px;
}

.logo {
    cursor: pointer;
}

.logo:hover h1 {
    color: #f26522;
}

.logo:hover .logo-img {
    background: url(../images/hover\ castle.png);
}

.logo-img {
    background: url(../images/logo@1X.png);
    width: 44px;
    height: 44px;
    float: left;
    margin-top: 22px;
    display: block;
}

address {
    float: right;
    margin-top: 25px;
    text-align: right;

}

address a {
    color: white;
    text-decoration: none;
}

header img {
    float: left;
    width: 46px;
    height: 44px;
    margin-left: 155px;
    margin-top: 57px;
}

.pics {
    text-transform: capitalize;
    clear: left;
    text-align: center;
    margin-top: 48px;
    color: white;
}

.pics:first-child {
    margin-left: 157px;
}
.img-container {
    height: 200px;
    width: 307px;
    float: top;
    position: relative;
    overflow: hidden;
}
.img1 {
    float: left;
    margin-top: 30px;
    grid-gap: 40px;
    position: relative;
}

.img-container img {
    height: 100%;
    width: 100%;
}

.img2 {
    float: left;
    margin-left: 69px;
    margin-top: 30px;
    position: relative;
}


.img3 {
    float: left;
    margin-left: 69px;
    margin-top: 30px;
    margin-bottom: 43px;
}

.pics2 {
    text-transform: capitalize;
    clear: left;
    text-align: center;
    color: white;
}



.img4 {
    float: left;
    margin-left: 157px;
}

.img4 img {
    height: 200px;
    width: 307px;
    float: top;
    position: relative;
}

.img5 {
    float: left;
    margin-left: 69px;
    margin-bottom: 60px;
    color: white;

}

.img5 img {
  
    position: relative;

}

.img6 {
    float: left;
    margin-left: 69px;
    color: white;
}

.img6 img {

    position: relative;
}

footer {
    font-size: 12px;
    text-align: center;
    clear: left;
    padding-bottom: 20px;
    color: white;
}

.img-card {
    position: relative;
    cursor: pointer;
}

.img-card .orange {
    height: 63px;
    width: 307px;
    background-color: #f26522;
    display: flex;
    position: absolute;
}

.part1 {
    color: transparent;
    cursor: pointer;
    font-size: 20px;
    float: left;
    color: white;
    margin-left: 21px;
    margin-top: 16px;
}

.part1::first-line {
    font-size: 10px;

}

.part2 {
    font-size: 14px;
    text-transform: capitalize;
    color: white;
    float: right;
    text-align: right;
    display: flex;
    margin-left: 130px;
    margin-top: 32px;


}

.orange {
    height: 63px;
    width: 307px;
    background-color: #f26522;
    display: flex;
    position: absolute;
    transition: 0.4s;
}

.img-card:hover .orange{
    transform: translateY(-104%)

    
}

.img-card:hover a{
    color: #f26522;
}

a{
    transition: 0.4s;
}