h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
}

.lorem {
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    padding: 10px;
    margin-right: 70px;
    margin-left: 70px;
}

.ipsum {
    text-align: justify;
    font-family: 'Lexend Exa', sans-serif;
    margin-right: 105px;
    margin-left: 105px;
}

img {
    height: 794px;
    width: 1280px;
    text-align: center;
}

.body {
    width: 1280px;
    height: 1626px;
    padding: 0px;
    margin: 0px;
}

.header {
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
    font-family: 'Lexend Exa', sans-serif;
}

.header a {
    color: #249a80;
    text-decoration: none;
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    text-align: right;
    font-family: 'Lexend Exa', sans-serif;
    padding: 50px;
    background-color: white;
    margin-top: 89px;
}

.container {
    background-color: #f5f6f8;
    padding-top: 30px;
}

.buttom {
    background-color: #16a086;
    height: 48px;
    width: 191px;
    color: white;
    text-align: center;
    margin-left: 529px;
    margin-top: 41px;
    padding-top: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

#wrapper {
    font-family: 'Lexend Exa', sans-serif;
}