html, body {
    margin: 0;
    padding: 0;

}

.container {
    background: url(../images/background.png) no-repeat;
    background-size: 100%;
    height: 100%;
    font-family: "Verdana-Bold", "AdobeInvisFont", Courier;
    font-size: 20px;

}

/* _________header____________ */

h1 a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}

h1 a:hover {
    color: #3cb878;
}

h1 {
    margin: 0;
    display: inline-block;
    padding: 10px 0 10px 90px;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.4);
    /* width: 100%; */
    height: 66px;

}

.address {
    padding: 10px 70px 10px 0;
    display: flex;
    float: right;
    margin: 0;


}

.address li {
    margin: 10px;
    list-style-type: none;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
}

.address li span {
    text-transform: none;
    color: white;
}

.address li a {
    color: #3cb878;

}

.log_links a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
}

.log_links a:hover {
    border-bottom: 1px solid #3cb878;
}


.icon-header {
    /* cursor: pointer; */
    /* background: url("../images/sprites/Sprite.png"); */
    margin-right: 40px;
display: flex;

}

.btn-icon{
    width: 19px;
    height: 19px; 
    background: url("../images/sprites/Sprite.png");
    cursor: pointer;
}

.btn-calc {
    background-position: -181px -8px;
}

.btn-calc:hover {
    background-position: -149px -10px;
}


.btn-forum {
    width: 28px;
    height: 20px;
    background-position: -110px -10px;
}

.btn-forum:hover {
    background-position: -73px -10px;
    width: 28px;
    height: 20px;
}

.btn-journey {
    width: 20px;
    height: 20px;
    background-position: -43px -11px;
}

.btn-journey:hover {
    width: 20px;
    height: 20px;
    background-position: -12px -10px;
} 

/* ______________________main__________________________ */


main {
    width: 1366px;
    height: 846px;

}

.white-block {
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 3%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    transform: translate(0, 25%);
    /* top: calc(50%-292px); не сработало. Почему? */
}

.registration {
    padding: 29px 65px 29px 65px;
    text-transform: capitalize;
}

.registration .greenBox {
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 29px;
}

.agree{
    font-family: 'AdobeInvisFont', Courier, Verdana;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    vertical-align: super;
}

.agree:hover {
    cursor: pointer;
}

.sign-up{
    font-family: 'AdobeInvisFont', Courier, Verdana;
    font-size: 20px;
    display: inline-block;
    margin: 0 0 10px 0;
}

.registration a {
    text-decoration: none;
    float: right;
    border-bottom: 0px solid #3cb878;
    color: #3cb878;
    transition: border-color 0.6s;
}

.registration a:hover {
    border-bottom-width: 1px;
    
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-flex;
    background-color: white;
    cursor: pointer;
    outline-style: none;

}

.facebook-logo {
    background-color: #305db8;
    border-radius: 5px;
    color: white;
    float: left;
    padding: 11px 16px 11px 10px;
    margin: 0 10px 0 0;
    font-size: 16px;

}

.facebook-logo:hover {
    box-shadow: inset 1110px 3px 8px 0px rgba(0, 0, 0, .1);
}

.registration .button {
    margin: 0;
    padding: 0;
    border: 0;
}

.facebook:before {
    content: "";
    border-left: 1px solid #2b54a5;
    padding: 7px;
}

.f {
    text-transform: lowercase;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    display: inline-block;
    padding: 0 16px;
    font-size: 18px;
}

.facebook {
    display: inline-block;
}

.google-logo {
    background-color: #df4a32;
    display: inline-block;
    border-radius: 5px;
    color: white;
    padding: 11px 16px 11px 10px;
    font-size: 16px;
}

.google-logo:hover {
    box-shadow: inset 1110px 3px 8px 0px rgba(0, 0, 0, .1);
}


.google::before {
    content: "";
    border-left: 1px solid #c8422d;
    padding: 5px 10px 5px 5px;
    
}

.g {
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0 7px;
    font-size: 18px;
    text-transform: uppercase;

}

.google {
    display: inline-block;
    padding: 0 10px 0 0;
}

.or {
    margin-top: 0;
    background-color: white;
    text-transform: lowercase;
    padding: 0 20px;
    position: absolute;
}

.hr-line {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.hr-line::before {
    content: "";
    display: block;
    background-color: #eaeaea;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 11px;
}

input {
    display: flex;
    justify-content: center;
    height: 38px;
    width: 100%;
    margin: 0;
    border: 1px solid #eaeaea;
    margin: 16px 0;
    cursor: pointer;
    outline: none;

}

input:focus {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

span {
    color: #3cb878;
}
span:hover {
    border-bottom: 1px solid #3cb878;
    cursor: pointer;
}


::-webkit-input-placeholder {color:#cccccc;} /*делаю placeholder немного светлее */
::-moz-placeholder          {color:#cccccc;}/* Firefox 19+ */
:-moz-placeholder           {color:#cccccc;}/* Firefox 18- */
:-ms-input-placeholder      {color:#cccccc;}

.placeholder {
    padding-left: 10px;
}

input.submit {
    background-color: #3cb878;
    height: 50px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 16px;
}

input.submit:hover {
box-shadow: inset 1110px 3px 8px 0px rgba(0, 0, 0, .1);
}

input[type="checkbox"] {
    display: none;
}

label {
    font-size: 14px;
}

label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #cccccc;
    margin-left: 0;
    cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
    content: '';
    background-image:url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIC0zNiA1MDkuMjQ4IDUwOSIgd2lkdGg9IjUxMnB4Ij48cGF0aCBkPSJtMTcxLjkwMjM0NCA0MzguMDc0MjE5LTE3MS45MDIzNDQtMTcxLjkwMjM0NCAxMDAuNjI1LTEwMC42MDkzNzUgNzEuMjc3MzQ0IDcxLjI5Njg3NSAyMzYuNzIyNjU2LTIzNi43MzQzNzUgMTAwLjYyMTA5NCAxMDAuNjIxMDk0em0wIDAiIGZpbGw9IiNhZGRiMzEiLz48L3N2Zz4K) ;
    background-size: 100%;
    display: inline-block;
}






