@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    overflow-x: hidden;
}

/* --------------------- header --------------------- */

.container {
    width: 800px;
    font-family: 'Roboto', sans-serif;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bg-header {
    background: url('../images/bg-header.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
}

.bg-header-white {
    background: white;
    position: relative;
    margin: 20px 0;
    padding: 20px;
}

.bg-header-white::before {
    content: '';
    position: absolute;
    background: white;
    width: 100%;
    height: 76px;
    top: 0;
    left: -800px;
}

.bg-header-white::after {
    content: '';
    position: absolute;
    background: white;
    width: 100%;
    height: 76px;
    left: 800px;
    top: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    text-transform: capitalize;
    cursor: pointer;
}

.header-logo-span {
    color: #14afca;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;

}

li {
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 0 20px;
    cursor: pointer;
}

li:hover {
    color: #14afca;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 43px;
    color: white;
    padding: 100px 0;
    line-height: 1.5;
}

/* ------------------------- main ------------------------- */
/* ------------------------ block2 -------------------------*/

.block-2 {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.block-2::before {
    content: '';
    position: absolute;
    transform: rotateX(180deg);
    border-left: 700px solid white;
    border-bottom: 100px solid transparent;
    border-right: 700px solid white;
    top: -100px;
}

.block-2::after {
    content: '';
    position: absolute;
    top: 300px;
    border: 700px solid transparent;
    border-top: 90px solid white;
}

h2 {
    color: #14afca;
    text-transform: uppercase;
    font-size: 60px;
}

.block-2-h2 {
    padding: 60px 0 0;
}

h4 {
    font-weight: 600;
    padding: 30px;
}

.block-2-p {
    line-height: 1.3;
    padding: 0 0 27px;
}

/* ------------------------ block-3 -------------------------*/

.block-3 {
    background: url('../images/block-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.block-3-h2 {
    padding: 160px 0 10px;
}

.block-3-h4 {
    color: white;
    padding-bottom: 70px;
}

.logotypes {
    display: flex;
    padding-bottom: 70px;
}

.logotypes .img1 {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 0 0;
}

.logotypes .img2 {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 0 0;

}
.logotypes .img3 {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logotypes .img4 {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 0 0 0 40px;
}

.logotypes img {
    padding: 0 0 80px 0;
}

.deviantART {
    position: absolute;
    top: -20px;
}
/* ----------------------------- block-4 ----------------------------- */

.block-4 {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.block-4::before {
    content: '';
    position: absolute;
    transform: rotateX(180deg);
    border-left: 700px solid white;
    border-bottom: 100px solid transparent;
    border-right: 700px solid white;
    top: -100px;
}

.block-4::after {
    content: '';
    position: absolute;
    top: 520px;
    border: 700px solid transparent;
    border-top: 90px solid white;
}

.photos {
    display: flex;
}

.discription {
    line-height: 1.5;
    text-align: center;
}

.photo-1, .photo-2 {
    padding-right: 40px;
}

.pic-size {
    height: 207px;
    width: 206px;
    position: relative;
}

.photo-2 img {
    position: absolute;
    left: 18px;
}

/* ---------------------------- block-5 ---------------------------- */

.block-5 {
    background: url(../images/bg3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 90px;color: white;
}

.block-5-h4 {
    padding-bottom: 30px;
}

.block-5 blockquote {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    padding-bottom: 20px;
}
.block-5-q {
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

/* ---------------------------- block-6 ---------------------------- */

.block-6 {
    background: white;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.block-6::before {
    content: '';
    position: absolute;
    transform: rotateX(180deg);
    border-left: 700px solid white;
    border-bottom: 100px solid transparent;
    border-right: 700px solid white;
    top: -100px;
}

.block-6-p {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0 60px 0;
}

/* ---------------------------- footer ---------------------------- */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.footer-span {
    font-weight: 700;
}

footer p {
    font-size: 14px;
    padding-bottom: 80px;
}