html,
body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
}

table {
    border-collapse: collapse;
    /* обеденила рамку таблицы */
    text-align: center;
    border: 22px solid #3a4965;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
}

th {
    width: 277px;
    height: 69px;
    font-size: 24px;

}

td {
    width: 277px;
    height: 69px;
    border-left: 2px solid #cacaca;
    box-shadow: -2px 0 0px 0px rgba(0, 0, 0, .2);

}

td img {
    height: 25px;
    width: 25px;
    opacity: 0.5;
}

.size-1-col {
    position: relative;
    top: -6px;
}

.choose-your {
    font-size: 18px;
}

.pr-plan {
    font-size: 30px;
}

.big-price {
    font-size: 60px;
    font-weight: 600;
    position: relative;
}

.coins {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
}

.per-month {
    font-size: 18px;
}

.details {
    width: 310px;
}

.lightgrey-colour {
    background: #fafafa;
}

.grey {
    background: #f2f2f2;
}

.dark-grey {
    background: #e3e3e3;
}

.standard {
    background: #89c331;
    color: white;
    border-left: 2px solid #cacaca;
    box-shadow: -2px 0 0px 0px rgba(0, 0, 0, .2);
}

.ultimate {
    background: #f04a56;
    color: white;
    font-size: 30px;
}

.premium {
    background: #20807c;
    color: white;
}

/*------------------- Buttons ------------------- */
button {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
    border: none;
}

button:hover {
    transform: scale(1.2);

}

.t-footer {
    cursor: pointer;
}

.standard-b {
    background: #89c331;
    box-shadow: 0 5px 0 #79b027;
    color: white;
}

.ultimate-b {
    background: #f04a56;
    box-shadow: 0 5px 0 #df3a46;
    color: white;
}

.premium-b {
    background: #20807c;
    box-shadow: 0 5px 0 #16736f;
    color: white;
}

.contact-us {
    color: white;
    background: #484848;
    box-shadow: 0 5px 0 #404040;
}

.the-darkest-colour {
    background: #dddddd;
}

.button-stand-bg {
    background: #eeeeee;
}

.button-ult-bg {
    background: #f4f4f4;
}